@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.text-sd-gray {
  text-shadow: 1px 1px 12px rgb(165, 165, 165);
}
